<html>
<head>
<style>
h1 { text-align: center;
div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}
/* Standard syntax */
@keyframes  {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:green; left:400px; top:0px;}
    75%  {background-color:blue; left:600px; top:0px;}
    100% {background-color: purple; left:800px; top:0px;}
}

}

h3
{
    text-align: center;

}
</style>
</head>
  </html>