/*
Everything between the *'s is a code comment
blah
blah
 see?
 */
body
{
   /* background-color:powderblue; /*#RRGGBB*/
    background-image:url(img/treemountain.jpg)
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(purple,blue)
}
#textEnhance
{
    color: darkslategray;
    background-image: none;
    background-color: antiquewhite;
}
h4
{
    color: lavender;
}